@{
    ViewData["Title"] = "Home Page";
}

<div class="col-xs-1 text-center" style="color:black;">
    <h1 class="display-1 animated" style="font-family:Magneto;color:black; animation: fadein;"><span>HARD WAX</span></h1>
</div>
